# Synced from Bitcoin v0.12.1 .gitignore; coin-specific names added for WojakCoin

*.tar.gz

*.exe
# Bitcoin (legacy / reference)
src/bitcoin
src/bitcoind
src/bitcoin-cli
src/bitcoin-tx
# WojakCoin
src/wojakcoin
src/wojakcoind
src/wojakcoin-cli
src/wojakcoin-tx
src/test/test_bitcoin
src/test/test_wojakcoin
src/qt/test/test_bitcoin-qt
src/qt/test/test_wojakcoin-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.bitcoin
.wojakcoin
.wojakcoin2
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
bitcoin-qt
wojakcoin-qt
Bitcoin-Qt.app
Wojakcoin-Qt.app

# Unit-tests
Makefile.test
bitcoin-qt_test
wojakcoin-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

# lcov
*.gcno
*.gcda
/*.info
test_bitcoin.coverage/
test_wojakcoin.coverage/
total.coverage/
coverage_percent.txt

# build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/run-wojakcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar
share/WojakcoindComparisonTool.jar

!src/leveldb*/Makefile

# depends: track Makefile and patches (from Bitcoin v0.12.1)
!depends/Makefile
!depends/patches/
!depends/patches/*/
!depends/patches/*/*.patch
!depends/patches/*/*/*.patch

/doc/doxygen/

libbitcoinconsensus.pc
libwojakcoinconsensus.pc
